html {
    /* Setting a base font size of 12px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
}

body {
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(26, 5, 5);
    margin: 0;
}

header {
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: #a76c47;
}

@media (max-width: 470px) {
    img {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
    }
}